[Unit]
Description=Install a backdrop site
After=backdrop-add-on-dev-fedora-firstboot.service
Before=httpd.service
ConditionPathExists=!/var/lib/backdrop/private_files/backdrop-install.lock

[Service]
Type=oneshot
EnvironmentFile=/run/secrets/backdrop-add-on-dev-fedora
User=apache
Group=apache
ExecStart=/usr/local/bin/backdrop-install

[Install]
WantedBy=multi-user.target
