[Unit]
Description=Install a backdrop site
After=backdrop-production-fedora-firstboot.service
Before=httpd.service

[Service]
Type=oneshot
EnvironmentFile=/run/secrets/backdrop-production-fedora
User=apache
Group=apache
ExecStart=/usr/local/bin/backdrop-install

[Install]
WantedBy=multi-user.target
